*{
    font-family:'bodonu 72 oldstyle', Arial, Helvetica, sans-serif;
    margin: 0;
    color: #000000;
}


li {
    list-style: none;
}

ul {
    text-align: center;
    padding: 1px;
}

a{
    color: black;
    text-decoration: none;
}

body {
    background-color: #DFF6FF;
}

.navbar {
    min-height: 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    padding: 20px;
}

.nav-menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    font-size: 22px;
}

.nav-link {
    transition: 0,7s ease;
    padding: 20px;
}
.nav-link:hover, .onpage {
    cursor: pointer;
    background-color:#eaf1ec;
}

.hamburger {
    display: none;
    cursor: pointer;
}

.bar{
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color:black;
}

@media(max-width:950px) {
    
    .hamburger{
        display: block;
    }

    .hamburger.active .bar:nth-child(2){
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }
    
    .nav-menu{
        position: fixed;
        left:-100%;
        top: 70px;
        gap: 5px;
        flex-direction: column;
        background-color: white;
        width: 100%;
        text-align: center;
        transition: 0.3s;
    }

    .nav-item{
        margin: 16px 0;
    }

    .nav-menu.active{
        left: 0;
    }
    .nav-branding{
        justify-content: center;
        margin: auto;
    }
}

.logo {
    width: 200px;
}